<%- include("partials/header.ejs") %>
<html>
  <body>
    <div class="content">
      <h1>My Blog</h1>

      <div class="main-controls">
        <form action="/newPost" method="POST">
          <input class="button" type="submit" value="Create new post" />
        </form>
        <form action="/filter" method="POST">
          <label>
            <span>Filter by category: </span>
            <select name="tag">
              <option <%= filter === "-1" ? "selected" : "" %> selected="false" value="-1">None</option>
              <% tags.forEach((tag, index) => { 
                let selected = filter === `${index}` ? "selected" : "" %>
                <option <%= selected %> value="<%= index %>"><%= tag %></option>
              <% }) %>
            </select>
            <input class="button" type="submit" value="Filter" />
          </label>
        </form>
      </div>
      <% if(locals.posts && locals.posts.length > 0) { %>
      <div class="post-collection">
        <% posts.forEach((post) => { %>
        <div class="post">
          <p class="post-header">
            <span class="header-part" style="text-align: left;"><%= post.userName %></span>
            <span class="header-part" style="text-align: center;"><span class="tag tag-<%= post.tag %>"><%= tags[post.tag] %></span></span>
            <span class="header-part" style="text-align: right;"><%= post.date %></span>
          </p>
          <h3 class="post-title"><%= post.title %></h3>
          <p class="post-body"><%= post.body %></p>
          <div class="controls post-controls">
            <form action="/edit" method="POST">
              <input
                class="button"
                type="submit"
                value="Edit post"
                name="<%= post.id %>"
              />
            </form>
            <form action="/delete" method="POST">
              <input
                class="button"
                type="submit"
                value="Delete post"
                name="<%= post.id %>"
              />
            </form>
          </div>
        </div>
        <% }) %>
      </div>
      <% } %>
    </div>
    <% if(locals.status && status === "create") { %>
    <div class="editFrame">
      <div class="edit">
        <h3>Create a new post:</h3>
        <form action="/addPost" method="POST" class="edit-form">
          <div>
            <label for="user-selector" class="small-text-label">
              <span>Enter Username: </span>
              <input
                id="user-selector"
                name="user"
                type="text"
                class="small-text"
              />
            </label>
            <label for="title-selector" class="small-text-label">
              <span>Enter title: </span>
              <input
                id="title-selector"
                name="title"
                type="text"
                class="small-text"
              />
            </label>
            <label class="select-label">
              <span>Select Category: </span>
              <select name="tag">
                <% tags.forEach((tag, index) => { %>
                  <option value="<%= index %>"><%= tag %></option>
                <% }) %>
              </select>
            </label>
          </div>
          <label for="body-selector" class="large-text-label">
            <span>Enter Post Content:</span>
            <textarea
              id="body-selector"
              name="body"
              type="text"
              class="large-text"
            ></textarea>
          </label>
          <div class="controls">
            <input class="button" type="submit" value="Cancel" name="submit">
            <input class="button" type="submit" value="Confirm" name="submit" />
          </div>
        </form>
      </div>
    </div>
    <% } %> <% if(locals.status && status === "edit" && locals.postID) { %> <%
    const post = posts.find(post => post.id === Number(postID)); if(post) {%>
    <div class="editFrame">
      <div class="edit">
        <h3>Edit post:</h3>
        <form action="/changePost" method="POST" class="edit-form">
          <div>
            <label for="user-selector" class="small-text-label">
              <span>Edit Username: </span>
              <input
                id="user-selector"
                name="user"
                type="text"
                class="small-text"
                value="<%= post.userName %>"
              />
            </label>
            <label for="title-selector" class="small-text-label">
              <span>Edit title: </span>
              <input
                id="title-selector"
                name="title"
                type="text"
                class="small-text"
                value="<%= post.title %>"
              />
            </label>
            <label class="select-label">
              Select Category: 
              <select name="tag">
                <% tags.forEach((tag, index) => { 
                  let selected = post.tag === `${index}` ? "selected" : ""; %>
                  <option <%= selected %> value="<%= index %>"><%= tag %></option>
                <% }) %>
              </select>
            </label>
          </div>
          <label for="body-selector" class="large-text-label">
            <span>Edit Post Content:</span>
            <textarea
              id="body-selector"
              name="body"
              type="text"
              class="large-text"
            ><%= post.body %></textarea>
          </label>
          <div>
            <input class="button" type="submit" value="Cancel">
            <input class="button" type="submit" value="Confirm" name="<%=post.id%>" />
          </div>
        </form>
      </div>
    </div>
    <% }} %>
  </body>
</html>
